<html>
<head>
    <title>Hospital Website</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
</head>
<body>

<div class="main">
    <div class="header">
        <div class="header-left">

                <img src="images/logo.jpg" width="231" height="75" />
            </a>
        </div>
        <div class="header-right">

            <div class="header-right-bottom">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>

</body>
</html>